div.page-home div.banner div.content a.assortiment {
  padding: 0 20px;
  height: 40px;
  border-radius: 20px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--accent-primary);
  width: fit-content;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 38.5px;
  box-shadow: 0 2px 5px 0px #0008;
  transition: all 0.25s;
  -webkit-user-drag: none;
}

div.page-home div.banner div.content a.assortiment:hover {
  scale: 1.05;
}
div.page-home div.banner div.content a.assortiment:active {
  background-color: var(--accent-dark);
  box-shadow: none;
  scale: 0.95;
}
