@import url("./header/nav.css");
@import url("./header/menu.css");

header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  padding-bottom: 35px;
  background-color: var(--accent-primary);
  color: #fff;
  border-bottom-left-radius: 50% 15px;
  border-bottom-right-radius: 50% 15px;
  z-index: 10;
  position: relative;
  box-shadow: 0 2px 5px 0px #0008;
}

header h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 800;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
header div.banner {
  display: flex;
  align-items: center;
  gap: 20px;
}

header div.banner img {
  height: 50px;
}

@media screen and (max-width: 600px) {
  header {
    padding: 10px 20px;
    padding-bottom: 20px;
  }

  header div.banner img {
    height: 30px;
  }
}
