@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round"); /* Material Icons Round */
@import url("./page.css");
@import url("./header.css");
@import url("./sidebar.css");
@import url("./root.css");

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font);
}

html {
  background-color: var(--bg-2);
}

body {
  margin: 0 auto;
  max-width: 900px;
  background-color: var(--bg);
  box-shadow: 0 0 20px 15px #0002;
  overflow-x: hidden;
  overflow-y: auto;
}

body div.content {
  height: 100vh;
}

body main {
  height: calc(100% - 105px);
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  body {
    width: 100%;
    max-width: unset;
    margin: 0 !important;
  }

  header button.menu-toggle {
    display: block;
  }

  header nav {
    display: none;
  }
}
