@import url("./page/home.css");
@import url("./page/gebakschotels.css");
@import url("./page/assortment.css");
@import url("./page/contact.css");
@import url("./page/herkomst.css");

div.page {
  display: none;
}

div.page.show {
  display: block;
}

div.page h1.title {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: var(--bg-darker) 3px solid;
}
